.site-main{
	position: relative;
}
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.entry-title {
	display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 15px;
    background: rgba($color__primary, 0.8);
    color: #FFFFFF;
    border-right: solid 10px #000000;
    margin-bottom: 0px;
}
.entry-content{
	margin: 0;
}
.padding{
	padding: 10px;
}