.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: transparent;
	border-radius: 3px;
	background: $color__background-button;
	box-shadow: none;
	color: #ffffff;
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: none;
	text-decoration: none;
	transition: all ease 0.5s;

	&:hover {
		border-color: transparent;
		box-shadow: inset none;
		color: #ffffff;
		text-decoration: none;
		background: lighten($color__primary, 8%);
	}

	&:active,
	&:focus,
	&:visited {
		border-color: transparent;
		box-shadow: none;
		color: #ffffff;
		cursor: pointer;
		border: none;
	}
}
.search-submit {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 !important;
    content: "a";
    display: block;
    padding: 9px !important;
    @include insert-icon();
}
.btn-lg{
	padding: 10px;
	font-size: 0.8rem;
}
.btn-xl{
	padding: 15px;
	font-size: 1rem;
}