$color__primary: #052D6F;
$color__gray: #BCBDC0;
$color__gray-dark: darken($color__gray, 30%);
$color__gray-light: lighten($color__gray, 15%);

//Colores de las facultades
$color__artes-y-humanidades: #BF308A;
$color__ciencias-economicas: #F29200;
$color__ingenierias: #87207B;
$color__ciencias-exactas: #016533;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__primary;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
