.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
		font-family: $font__secondary;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
.menu-toggle{
	padding: 15px;
	font-size: 0.8rem;
	float: right;
	border-radius: 0px;
}

/* Menú horizontal */
.menu-horizontal{
	margin: 0;
	padding: 0;
	li{
		list-style: none;
		display: inline-block;
		a{
			display: block;
			padding: 10px;
			text-decoration: none;
		}
	}
}

/* ctn__users-menu */
.ctn__users-navigation{
	border-bottom: 2px solid $color__gray-light;
}
.users-menu{
	a{
		font-family: $font__secondary;
		font-size: 0.9rem;
		color: #000000;
		&:hover{
			text-decoration: underline;
			color: $color__primary;
		}
	}
}
/* ctn__footer-navigation */
.footer-menu {
	text-align: center;
	li{
		a{
			padding-bottom: 0px;
		    font-family: "Dosis", sans-serif;
		    border-right: solid 1px blue;
		    padding-top: 0px;
		    margin-bottom: 15px;
		}
		&:last-child{
			a{
				border-right: none;
			}
		}
	}
}
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/*------------ Top bar Navigation ------------------*/
.top-bar-menu{
	a{
		font-family: $font__secondary;
		&:hover{
			text-decoration: underline;
		}
	}
}
@media (min-width: 768px){
	.main-navigation{
		width: 750px;
		margin: 0 auto;
		float: initial;
	}
}
@media (min-width: 992px){
	.ctn__users-navigation{
		border-bottom: 0;
	}
	.menu-toggle {
		display: none;
	}
	.main-navigation{
		ul{
			display: block;
			li{
				a{
					color: #fff;
					padding: 10px;
					&:hover{
						background-color: $color__gray-light;
						color: $color__primary;
					}
				}
			}
		}
	}
	.users-menu{
		a{
			font-size: 1rem;
		}
	}
	.top-bar-menu{
		text-align: right;
	}
}
@media (min-width: 1200px){
}