.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
		font-family: $font__secondary;
	}

	//.current_page_item > a,
	//.current-menu-item > a,
	//.current_page_ancestor > a,
	//.current-menu-ancestor > a {
	//	background: #052D6F !important;
	//	color: #FFFFFF !important;
	//	border-left: solid 5px #052D6F !important;
	//}
	.ubermenu-responsive-toggle {
		float: right;
		background: $color__primary ;
		color: #FFFFFF;
	}

	//Color de fondo del submenu
	.ubermenu-submenu{
		background: $color__gray-light;
	}
}

.ctn__menu-lateral
{
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		background: #052D6F !important;
		color: #FFFFFF !important;
		border-left: solid 5px #052D6F !important;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
.menu-toggle{
	padding: 15px;
	font-size: 0.8rem;
	float: right;
	border-radius: 0px;
}


/* Menú horizontal */
.menu-horizontal{
	margin: 0;
	padding: 0;
	li{
		list-style: none;
		display: inline-block;
		a{
			display: block;
			padding: 10px;
			text-decoration: none;
		}
	}
}

/* ctn__users-menu */
.ctn__users-navigation{
	border-bottom: 2px solid $color__gray-light;
}
.users-menu{
	a{
		font-family: $font__secondary;
		font-size: 0.9rem;
		color: #000000;
		&:hover{
			text-decoration: underline;
			color: $color__primary;
		}
	}
}
/* ctn__footer-navigation */
.footer-menu {
	text-align: center;
	li{
		a{
			padding-bottom: 0px;
		    font-family: "Dosis", sans-serif;
		    border-right: solid 1px blue;
		    padding-top: 0px;
		    margin-bottom: 15px;
		}
		&:last-child{
			a{
				border-right: none;
			}
		}
	}
}
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/*------------ Top bar Navigation ------------------*/
.top-bar-menu{
	a{
		font-family: $font__secondary;
		&:hover{
			text-decoration: underline;
		}
	}
}

/*--------------------------------------------------------------
# Menú lateral
--------------------------------------------------------------*/

.current{
	background: $color__primary !important;
	color: #FFFFFF !important;
	border-left: solid 5px $color__primary !important;
	a{
		background: $color__primary;
		color: #FFFFFF;
		border-left: solid 5px $color__primary !important;
	}
}
.ctn__menu-lateral{
	.menu{ //Estilos del contenedor general del menú
		margin: 0 0 0 0;
		padding: 0;
		display: none;
		li{
			list-style: none;
			a{
				display: block;
				padding: 10px 15px;
				background: $color__gray-light;
				color: $color__gray-dark;
				font:{
					family: $font__secondary;
					size: 1.5rem;
				}
				text:{
					decoration: none;
				}
				&:hover{
					background: $color__gray-dark;
					color: #FFFFFF;
				}
			}
			&.menu-item-has-children{ //Estilos para el icono de los ítemes con submenu
				> a{
					position: relative;
					&::before{
						content: "j";
						position: absolute;
						top: 50%;
						right: 5px;
   						transform: translate(0, -50%);
						font-family: "itm" !important;
						font-style: normal !important;
						font-weight: normal !important;
						font-variant: normal !important;
						text-transform: none !important;
						speak: none;
						line-height: 1;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
					}
				}
			}
		}
	}
	.ctn__programa-bottom{
		margin-top: 30px;
	}
	.sub-menu{ //Contenedor del menú de segundo nivel
		display: none;
		padding-left: 0;
		li{
			a{ //Estilos del ítem del menú de segundo nivel
				background: $color__gray-light;
				border-left: solid 5px $color__gray;
				padding: 5px 10px;
				font:{
					size: 1.2rem;
				}
			}
			.sub-menu{ //Contenedor del menú de tercer nivel
				li{
					a{ //Estilos del ítem de menú de tercer nivel
						font:{
							size: 1rem;
						}
					}
				}
			}
		}
	}
}
.menu-lateral_titulo{
	overflow: auto;
	h3{
		background: $color__gray-dark;
		color: #FFFFFF;
		margin: 0;
		padding: 15px;
		cursor: pointer;
	}
}

/*--------------------------------------------------------------
# Mega menú
--------------------------------------------------------------*/
.ubermenu{
	margin-top: 50px !important;
	//Item de primer nivel
	.ubermenu-nav{
		> .ubermenu-item{
			background: $color__primary;
			a{
				color: #FFFFFF;
			}
		}
	}
	.ubermenu-submenu{	
		padding: 0 15px 15px 15px !important;
		//Item de segund nivel
		a.ubermenu-target{ 
			color: $color__gray-dark;
			padding: 5px 15px;
		    margin: 15px 0px 0px 0px;
		    border-left: solid 5px $color__gray-dark;
		    transition: all ease 0.5s;
		    &:hover{
		    	color: $color__primary;
		    	border-left: solid 5px $color__primary;
		    	padding-left: 20px;
		    }
		}	
	}
	//Botón de cerrar para móviles
	.ubermenu-retractor {
		&.ubermenu-retractor-mobile{
			width: 100%;
			margin-top: 15px;
			background: $color__gray-dark;
			color: #ffffff;
		}
		&:hover{
			background: $color__primary !important;
			color: #FFFFFF;
		}
	}
}



/*--------------------------------------------------------------
# Media queries _menus
--------------------------------------------------------------*/

@media (min-width: 768px){
	.main-navigation{
		width: 750px;
		margin: 0 auto;
		float: initial;
	}
}
@media (min-width: 992px){
	.ctn__users-navigation{
		border-bottom: 0;
	}
	.menu-toggle {
		display: none;
	}
	.main-navigation{
		ul{
			display: block;
			li{
				a{
					color: #fff;
					padding: 10px;
					&:hover{
						background-color: $color__gray-light;
						color: $color__primary;
					}
				}
			}
		}
		.ubermenu-responsive-toggle{
			display: none;
		}
		.ubermenu{
			margin-top: 0px !important;
		}
	}
	//Ancho de los ítemes principales en el menu de primer nivel. Se divide el 100% por la cantidad de ítemes
	.ubermenu-item-level-0{
		width: auto !important;
		> .ubermenu-target {
			text-align: center;
		}
	}
	.users-menu{
		a{
			font-size: 1.2rem;
		}
	}
	.top-bar-menu{
		text-align: right;
	}
	.ctn__menu-lateral{
		.menu{
			display: block;
			li{
				a{
					font-size: 1.2rem;
				}
			}
		}
		.sub-menu{
			margin-left: 10px;
			li{
				a{
					font-size: 1rem;
				}
				.sub-menu{
					margin-left: 10px;
					li{
						a{
							font-size: 0.9rem;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 1200px){
}